{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>작성자: {{ post.user }}</p>
<hr>

<form method="post">
    {% csrf_token %}
    <button type="submit" name="answer" value="select1_content">
        {{ post.select1_content }} - total: {{ post.select1_users }}
    </button>
    <button type="submit" name="answer" value="select2_content">
        {{ post.select2_content }} - total: {{ post.select2_users }}
    </button>
</form>

<hr>
<a href="{% url 'posts:index' %}">메인으로</a>
{% endblock content %}

